<div class="card-body">

  <h3>Listado de alumnos del grupo y materia seleccionados</h3>
  <div id="data-grid-demo">
  
      <dx-data-grid [hidden]="noSeHaCargado"
          id="gridContainer"
          [(dataSource)]="alumnos">
          <dxo-export [enabled]="true" fileName="Grupo" caption="exportar todo"></dxo-export>  
          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing 
              mode="cell"
              [allowUpdating]="true">
          </dxo-editing>
          <dxo-selection mode="multiple"></dxo-selection>
          <dxi-column dataField="indice" caption="Número"   [width]="80"></dxi-column>
          <dxi-column dataField="nombreCompleto" caption="Nombre" [width]="200"></dxi-column>
          <dxi-column dataField="examenes[0].materia.nombre" caption="Materia" [width]="120"></dxi-column>
          <dxi-column dataField="examenes[0].nombre" caption="Examen"  [width]="120" ></dxi-column>
          <dxi-column dataField="plantel" caption="Plantel"></dxi-column>
          <dxi-column dataField="turno" caption="Turno"></dxi-column>
          <dxi-column dataField="grupo" caption="Grupo"></dxi-column>
          <dxi-column dataField="examenes[0].calificacion" caption="Calificación" [width]="90"> <dxo-format type="fixedPoint" [precision]="2"></dxo-format></dxi-column>
      </dx-data-grid>
    </div>

</div><!--termina card-body-->

